{
        "interface": "eth2",
        "daemonize": 0,
{
        "interface": "eth2",
        "daemonize": 0,
        "log": {
                "host": "destinationsyslog.yourdomain.com",
                "port": 514,
                "from_host": "snifferbox.yourdomain.com",
                "program": "httpry"
        },
        "db": {
                "dsn": "dbi:mysql:host=localhost:database=test",
                "username": "root",
                "password": "",
                "insert_query": "INSERT INTO httpry (timestamp, srcip, dstip, method, host, request_uri, referer, user_agent, domains, status_code, content_length) VALUES (?, INET_ATON(?), INET_ATON(?), ?, ?, ?, ?, ?, ?, ?, ?)"
        },
        "mongo": {
                "host": "localhost",
                "port": 27017,
                "db": "httpry",
                "collection": "httpry"
        },
        "file": "/var/log/urls.log"
}

